.logo {
  font-family: "AmstelvarAlpha", serif;
  font-size: toRem(28);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: toRem(10);
}
.logo::before, .logo::after {
  content: "";
  background: url("../img/iconsfont/logo.svg") 0 center/100% no-repeat;
  block-size: toRem(15);
  inline-size: toRem(31);
  aspect-ratio: 15/31;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}