.header__container {
  -webkit-padding-before: toRem(30);
          padding-block-start: toRem(30);
}
.top-header {
  -webkit-padding-after: toRem(20);
          padding-block-end: toRem(20);
}
.top-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: toRem(30);
     -moz-column-gap: toRem(30);
          column-gap: toRem(30);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: toRem(10);
  position: relative;
  padding: toRem(5) toRem(5) toRem(5) 0;
  border-radius: toRem(8);
  border: toRem(1) solid transparent;
  z-index: 2;
}
@media (any-hover: hover) {
  .top-header__search:hover {
    border: toRem(1) solid #FF6F61;
  }
}
.top-header__button {
  inline-size: toRem(25);
  aspect-ratio: 1;
}
.top-header__button::before {
  font-size: toRem(19);
}
.top-header__input {
  -webkit-padding-start: toRem(5);
          padding-inline-start: toRem(5);
  -webkit-padding-end: toRem(15);
          padding-inline-end: toRem(15);
  cursor: pointer;
}
@media (any-hover: hover) {
  .top-header__input:hover {
    border: none;
    outline: none;
  }
}