@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,regular,500&display=swap");
@font-face {
  font-family: icons;
  font-display: swap;
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]::before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-arrow:before {
  content: "\e900";
}

._icon-arrow-up:before {
  content: "\e901";
}

._icon-cart:before {
  content: "\e902";
}

._icon-filter:before {
  content: "\e903";
}

._icon-logo:before {
  content: "\e904";
}

._icon-search:before {
  content: "\e905";
}

._icon-s-facebook:before {
  content: "\e907";
}

._icon-s-insta:before {
  content: "\e908";
}

._icon-s-linkedin:before {
  content: "\e909";
}

._icon-s-twitter:before {
  content: "\e90a";
}

._icon-user:before {
  content: "\e90b";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Open Sans";
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Open Sans";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}
.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}
@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.wrapper > * {
  min-width: 0;
}

[class*=__container] {
  max-width: 84.375rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*="--gc"] {
  display: grid;
  min-width: 0;
  grid-template-columns: 0.9375rem 1fr minmax(auto, 82.5rem) 1fr 0.9375rem;
}
[class*="--gc"] > * {
  min-width: 0;
  grid-column: 3/4;
}

.ibg {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ibg--top {
  -o-object-position: top;
     object-position: top;
}
.ibg--bottom {
  -o-object-position: bottom;
     object-position: bottom;
}
.ibg--left {
  -o-object-position: left;
     object-position: left;
}
.ibg--right {
  -o-object-position: right;
     object-position: right;
}
.ibg--contain {
  -o-object-fit: contain;
     object-fit: contain;
}

.logo {
  font-family: "AmstelvarAlpha", serif;
  font-size: 1.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.logo::before, .logo::after {
  content: "";
  background: url("../img/iconsfont/logo.svg") 0 center/100% no-repeat;
  block-size: 0.9375rem;
  inline-size: 1.9375rem;
  aspect-ratio: 15/31;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.top-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.top-header__search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  position: relative;
  padding: 0.625rem 0.625rem 0.625rem 0;
  z-index: 2;
}
@media (any-hover: hover) {
  .top-header__search:hover {
    border: 0.0625rem solid #FF6F61;
  }
}
.top-header__button {
  inline-size: 1.5625rem;
  aspect-ratio: 1;
}
.top-header__button::before {
  font-size: 1.1875rem;
}
.top-header__input {
  -webkit-padding-start: 0.625rem;
          padding-inline-start: 0.625rem;
}