// Базові стилі спойлерів
// Сніппет (HTML): spoller

// Блок зі спойлерами
.spollers {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 1fr));
	gap: 15px;

	@media (max-width: toEm(660)) {
		grid-template-columns: minmax(200px, 1fr);
		grid-template-rows: repeat(3, auto);
		justify-content: center;
		text-align: center;
	}
}



// Спойлер
.spollers__item {
	flex-shrink: 1;

	@media (min-width: toEm(660)) {
		flex-basis: toRem(200);
		flex-shrink: 0;
		font-size: toRem(20);
	}
}

// Заголовок спойлера
.spollers__title {
	width: 100%;
	cursor: default;
	text-align: left;
	position: relative;
	list-style: none;
	font-size: toRem(16);
	font-weight: 600;
	margin-block-end: toRem(22);

	@media (max-width: toEm(660)) {
		margin-block-end: 0;
		background-color: #ccced0;
		text-align: center;
		padding-block: toRem(20);
		border-radius: toRem(5);
	}

	&::marker,
	&::-webkit-details-marker {
		display: none;
	}

	._spoller-init & {
		cursor: pointer;

		&::before,
		&::after {
			content: "";
			position: absolute;
			right: 10px;
			top: 50%;
			background-color: #000;
			height: 2px;
			width: 15px;
			transition: transform 0.5s ease 0s;
		}

		&::before {
			transform: translate(-75%, -50%) rotate(40deg);
		}

		&::after {
			transform: translate(0, -50%) rotate(-40deg);
		}

		&._spoller-active {
			&::before {
				transform: translateX(-75%) rotate(-40deg);
			}

			&::after {
				transform: rotate(40deg);
			}
		}

		/*
		._spoller-init & {
			position: relative;
			width: 100%;
			text-align: left;
			&::before,
			&::after {
				content: "";
				position: absolute;
				right: 0;
				top: toRem(12);
				height: toRem(1);
				transition: all 0.3s ease 0s;
				width: toRem(10);
				background-color: #000;
			}
			&::before {
				transform: rotate(40deg);
				right: toRem(7);
			}
			&::after {
				transform: rotate(-40deg);
			}
		}
		&._spoller-active {
			&::before {
				transform: rotate(-40deg);
			}
			&::after {
				transform: rotate(40deg);
			}
		}
		*/
	}
}

// Контент спойлера
.spollers__body {
	font-size: toRem(14);
	line-height: 1.714286;
	/* 24/14 */
	text-transform: capitalize;

	&:not(:last-child) {
		margin-block-end: toRem(12);
	}
}