.header {
  background-color: $dark5Color;

  // .header__container
  &__container {
    padding-block-start: toRem(30);

    @media (max-width:$tablet) {
      padding-block-start: toRem(20);
    }
  }

  // .header__top
  &__top {}

  // .header__menu
  &__menu {
    border-block-start: toRem(1) solid #E3E3E3;
  }
}

.top-header {
  position: relative;
  z-index: 3;

  // .top-header__items
  &__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: toRem(30);
    align-items: center;
    padding-block-end: toRem(20);

    @media (max-width:$tablet) {
      padding-block-end: toRem(10);
    }
  }

  // .top-header__item
  &__item {
    &:last-child {
      justify-self: end;
    }

    &:nth-child(2) {
      justify-self: center;
    }
  }

  // .top-header__search
  &__search {}

  // .top-header__button
  &__button {
    inline-size: toRem(25);
    aspect-ratio: 1;

    &::before {
      font-size: toRem(19);
    }
  }

  // .top-header__input
  &__input {
    inline-size: 100%;
    padding-inline-start: toRem(5);
    padding-inline-end: toRem(15);
    cursor: pointer;

    @media (any-hover: hover) {
      &:hover {
        border: none;
        outline: none;
      }
    }

    @media (max-width: toEm(375)) {
      display: none;
    }
  }

  // .top-header__logo
  &__logo {}

  // .top-header__accounts
  &__accounts {}
}

.account-item {
  display: flex;
  align-items: center;
  column-gap: toRem(22);

  @media (max-width: toEm(375)) {
    column-gap: toRem(15);
  }

  // .account-item__account
  &__account {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: toRem(8);
    transition: all 0.4s;

    span {
      font-size: toRem(18);
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
    }

    &::before {
      inline-size: toRem(25);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(19);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $primaryColor;
      }
    }

    @media (max-width:$mobile) {
      span {
        display: none;
      }
    }
  }

  // .account-item__cart
  &__cart {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    column-gap: toRem(8);
    transition: all 0.4s;

    span {
      font-size: toRem(18);
      font-family: 'Roboto', sans-serif;
      text-transform: capitalize;
    }

    &::before {
      inline-size: toRem(25);
      aspect-ratio: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: toRem(22);
    }

    @media (any-hover: hover) {
      &:hover {
        color: $primaryColor;
      }
    }

    @media (max-width:$mobile) {
      span {
        display: none;
      }
    }
  }

  // .account-item__icon  
  &__icon {}

}

.search-header {
  display: flex;
  gap: toRem(10);
  padding: toRem(5) toRem(5) toRem(5) 0;
  border-radius: toRem(8);
  border: toRem(1) solid transparent;
  // z-index: 2;
  // max-inline-size: toRem(220);

  @media (any-hover: hover) {
    &:hover {
      border: toRem(1) solid $primaryColor;
    }
  }

  // .search-header__open
  &__open {
    display: none;

    @media (max-width: toEm(650)) {
      border: toRem(2) solid $dark50Color;
      border-radius: 50%;
      block-size: toRem(30);
      aspect-ratio: 1;
      flex-shrink: 0;
      display: flex;
      position: relative;
      color: $mainColor;
      transition: all 0.4s;
    }

    span {
      aspect-ratio: 1;
      position: absolute;
      inset-block-start: 50%;
      inset-inline-start: 50%;
      transform: translate(-50%, -50%);

      &::before {
        font-size: toRem(15);
      }

      &:first-child {}

      &:last-child {
        transform: translate(-50%, -50%) scale(0);
      }

      .search-open & {
        &:first-child {
          transform: translate(-50%, -50%) scale(0);
        }

        &:last-child {
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }

  // .search-header__body
  &__body {
    block-size: toRem(25);
    position: relative;

    @media (max-width: toEm(650)) {
      block-size: toRem(40);
      position: absolute;
      padding: toRem(5) toRem(5) toRem(5) 0;
      border-radius: toRem(8);
      border: toRem(1) solid $primaryColor;
      // min-inline-size: 250px;
      inline-size: 100%;
      inset-inline-start: 0;
      inset-block-start: 100%;
      background-color: #fff;
      padding-block: toRem(5);
      padding-inline: toRem(15);
      opacity: 0;
      visibility: hidden;
      transition: all 0.4s;

      .search-open & {
        inset-block-start: 110%;
        opacity: 1;
        visibility: visible;
      }
    }
  }

  // .search-header__input
  &__input {
    border-radius: toRem(8);
    block-size: 100%;
    padding-inline-start: toRem(30);
    padding-inline-end: toRem(10);

    &:hover {
      border: none;
    }

    &:focus {
      outline: $dark10Color;
    }
  }

  // .search-header__button
  &__button {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    block-size: 100%;
    inline-size: toRem(25);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(20);
  }
}